.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(48, 50, 113, 0.2), rgba(48, 50, 113, 0.2));
    padding: 1vh;
}

.labelAndInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: clamp(14px 4vh 16px);
    margin: 0 1vh;
}

.searchIcon{
    height: 3vh;
    margin: 0 0.4vh;
}

.searchInput{
    height: 3vh;
    border-radius: 2vh;
    width: 20vw;
    border-color: rgba(48, 50, 113, 1.0);
    padding: 0 1vh;
    color: rgba(48, 50, 113, 1.0);    
}

.searchInput::placeholder{

    color: rgba(48, 50, 113, 1.0);
    padding-left: 10px;
}

.searchInput::content{
    padding-left: 10px;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2vw;
}

.searchButton{
    color: white;
    background-color: rgba(48, 50, 113, 0.8 );
    margin: 0 1vh;
}


.radioButtonsForSearchLogic{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 1vh;
}

.radioButtonLabel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 5px;
    align-items: center;
}

.radioButtonLabel>input{
    width: 20px;
    margin-left: 0;

}

.labelInputCombos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}