p{
    margin: 0;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(48, 50, 113, 0.2), rgba(48, 50, 113, 0.2));
    padding: 1vh;
}

.labelAndInput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.searchInput, .searchSelect, .maxSearchResults{
    height: 26px;
    border-radius: 13px;
    width: 20vw;
    border-color: rgba(48, 50, 113, 1.0);
    padding: 0 5px;
    color: rgba(48, 50, 113, 1.0);  
}

.searchSelect{
    width: 10vw;
}

.maxSearchResults{
    width: 7vw;
}

.searchInput::placeholder{

    color: rgba(48, 50, 113, 1.0);
    padding-left: 5px;
}

.searchInput::content{
    padding-left: 5px;
}


.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2vw;
}

.searchButton{
    color: rgba(48, 50, 113, 1.0);
    font-weight: 600;
    background-color: rgb(213, 216, 219);
    margin: 0 10px;
}


.radioButtonsForSearchLogic{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
}

.radioButtonLabel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 5px;
    align-items: center;
}


.labelInputCombos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

.maxSearchResultsAndHits{
    align-items: flex-start;
}

.searchLogicSelector{
    
}



